dependency-reduced-pom.xml
*.class
.idea/*
*.iml
instana-agent/*
**/target
# Package Files #
*.jar
*.war
*.ear
.settings
.project
.classpath
logs
bin/run_local*
tmp
transfer
settings.xml
etc/*
tmp/*
*ocs
*~
*.rna
.DS_Store
*.log
\#*
*.lst
agent-bootstrap-parent/agent-bootstrap-feature/src/main/history
agent-windows-extensions/InstanaPCP/bin/
agent-windows-extensions/packages/
agent-windows-extensions/InstanaPCP/obj/
instana_dump.hprof
instana_thread.txt
agent-windows-extensions/Benchmarks/bin/
agent-windows-extensions/Benchmarks/obj/
agent-windows-extensions/PCPMonitor/bin/
agent-windows-extensions/PCPMonitor/obj/
*.user
agent-windows-extensions/RegistrationUtil/obj/
agent-windows-extensions/UnitTests/InstanaPCPTests/obj/
